*{
  padding: 0;
  margin: 0;

}
body{
  background-color:  #080808;
  
}

/* -----------BODY-------------*/
.navbar{
  text-align: center;
  background: #1b1b1b;
  font-family: IBM Plex Mono;
  
  
  
}

.navbar .s-icons{
  color: #9cdad6;
  font-size: 1.5rem;
  margin-right:3.125rem ;
  
} 

.navbar .sociais{
  color: #9cdad6;
  font-size: 1.5rem;
}
/*----------NAVBAR------------*/
.Home{
  background: #080808;
  height: 75vh;
  margin-bottom: 50px;
  

}

.row h1 {
  color: aliceblue;
  font-family: IBM Plex Mono;
  margin: 45px;
  margin-top: 6.25rem;
  text-align: center;
  align-self: Justify;
}

.row h3 {
  color: #9c9c9c;
  font-family: IBM Plex Mono;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.14px;
}

#botoesContainer {
  display: none;
  display: flex;
  
}
#btnPrincipal {
  
  background: #9cdad6;  

  padding: 1.313rem 4rem;
  align-items: Justify;
  
  border-radius: 0.3rem;
  
  font-family: IBM Plex Mono;
  font-size: 1rem;
  
  color: #fff;
  padding: 10px 20px; /* Espaçamento interno */
  border: 1px solid #b8d9d7;
  cursor: pointer; /* Mudar o cursor para indicar que é clicável */
  box-shadow: 0px 8px 30px 0px rgba(184, 217, 215, 0.5);

}
/*
.botao-principal:hover {
  background-color: #2980b9;} /* Mudar a cor de fundo quando hover */


.botaoSecundario {
  margin: 10px;
  
  background: #9cdad6;  

  padding: 1.313rem 4rem;
  align-items: Justify;
  
  border-radius: 0.3rem;
  
  font-family: IBM Plex Mono;
  font-size: 1rem;
  
  color: #fff;
  padding: 10px 20px; /* Espaçamento interno */
  border: 1px solid #b8d9d7;
  cursor: pointer; /* Mudar o cursor para indicar que é clicável */
  box-shadow: 0px 8px 30px 0px rgba(184, 217, 215, 0.5);

}
/*----------HOME------------*/
.about{
  background-color: #b8d9d7;
  height: 93vh; 
  font-family: IBM Plex Mono;
}
.about .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-img {
  width: 31.25rem   ;
}

/*----------ABOUT------------*/
.skills{
  height: 150vh;
  overflow: hidden;
  padding: 20px; /* Adicione um preenchimento para garantir espaço entre o conteúdo e as bordas da seção */
  font-family: IBM Plex Mono;
}
.main-title {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #fff;
  text-align: center;
}

.main-title h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #08adad;
  text-align: center;
}
.main-title h2{
  font-size: var(--h2-font);
  line-height: 1;
}

.skills-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
  padding: 5.625rem;
  flex-wrap: wrap;
  margin: -10px; /* Compensa a margem negativa dos filhos */
  
}
.s-icons {
  color: white;
}
.skills-content .box{
  background: #2a2a2a;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.5);
}
.box {
  text-align: center;
  transition: all 0.45s ease;
  flex: 0 0 calc(33.333% - 20px);
 
  box-sizing: border-box; /* Garante que a largura e altura incluam bordas e preenchimentos */

}
.card {
  background: #2a2a2a;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.5);
}
.card-text h3 {
  color: white;
}
.s-icons i {
  font-size: 36px;
}

.box h3 {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.box:hover {
  transform: translateY(-8px);
}

/*----------SKILLS------------*/
.projects{
  height: 150vh;
  background-color: #b8d9d7;
  overflow: hidden;
  padding: 20px; /* Adicione um preenchimento para garantir espaço entre o conteúdo e as bordas da seção */
  font-family: IBM Plex Mono;
  
}
.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    padding: 5.625rem;
    margin-left: 20px;
    margin-right: 20px;
    

}

.projects-content .row{
  
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.projects-content img{
  max-width: 350px;
  min-width: 100%;
  min-height: 375px;
  max-height: 375px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}


.projects-content .layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), var(--main-color));
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p{
  color: white;
  line-height: 1.8;
}

.layer i{
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.projects-content .row:hover img{
  transform: scale(1.1);
}

.row:hover .layer{
  height: 100%;
}

.end{
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--bg-color);
}

.last-text p{
  color: var(--second-color);
  font-size: var(--p-font)
}


/*----------PROJECTS------------*/
.recommendations{
  height: 100vh;
  background-color: #080808;
}


/*----------RECOMMENDATIONS------------*/
.footer{
  color: #9cdad6;
}

/*-----------Footer-------------*/
/* ... Outros estilos ... */

/* Media query para telas com no máximo 1100px */
@media only screen and (max-width: 1100px) {
  .Home {
    height: auto; /* Ajuste a altura conforme necessário para telas menores */
    padding: 20px; /* Adicione algum espaço interno para melhor legibilidade */
    margin-bottom: 30px; /* Ajuste a margem inferior conforme necessário */
  }

  .row h1 {
    margin: 20px; /* Ajuste a margem conforme necessário para telas menores */
  }

  .row h3 {
    font-size: 0.75rem; /* Reduza o tamanho da fonte para telas menores */
    line-height: 1.2rem; /* Ajuste a linha conforme necessário */
  }

  #botoesContainer {
    /* Adapte os estilos para o contêiner de botões conforme necessário para telas menores */
    flex-direction: column; /* Mude para coluna para empilhar os botões verticalmente */
  }

  #btnPrincipal, .botaoSecundario {
    /* Ajuste os estilos dos botões conforme necessário para telas menores */
    padding: 10px 15px; /* Reduza o espaçamento interno para telas menores */
    font-size: 0.9rem; /* Ajuste o tamanho da fonte conforme necessário */
  }
}
/*----------HOME------------*/
.about .title-left{
  height: fit-content;
}

/*--------ABOUT-------------*/

.skills{
  height: fit-content;
  overflow: hidden;
  padding: 20px; /* Adicione um preenchimento para garantir espaço entre o conteúdo e as bordas da seção */

}

/* Media query para telas com no máximo 780px */
@media only screen and (max-width: 780px) {
 

.skills{
  height: fit-content;
  overflow: hidden;
  padding: 20px; /* Adicione um preenchimento para garantir espaço entre o conteúdo e as bordas da seção */

}
  .Home {
    padding: 15px; /* Ajuste o espaçamento interno para telas ainda menores */
    margin-bottom: 20px; /* Ajuste a margem inferior */
  }

  .row h1 {
    margin: 15px; /* Ajuste a margem */
    text-align: center;
  }

  .row h3 {
    font-size: 0.7rem; /* Reduza ainda mais o tamanho da fonte */
    line-height: 1rem; /* Ajuste a linha conforme necessário */
    text-align: center;
  }

  #btnPrincipal, .botaoSecundario {
    padding: 8px 12px; /* Reduza o espaçamento interno ainda mais */
    font-size: 0.8rem; /* Ajuste o tamanho da fonte */
  }
  

  .about .col-md-6,
  .about-info,
  .about-me {
    margin-bottom: 15px;
  
}
.box {
  flex: 0 0 calc(50% - 20px);
}

/*----------HOME------------*/

.about{
  height: fit-content;
}
/*----------ABOUT------------*/

/*----------SKILLS------------*/


}


@media only screen and (max-width: 580px) {
 
  .skills{
    height: fit-content;
    overflow: hidden;
    padding: 20px; /* Adicione um preenchimento para garantir espaço entre o conteúdo e as bordas da seção */
    align-items: center;
  }
  section {
    display: flex;
    flex-direction: column; /* Ou use grid, dependendo do layout desejado */
  }
  
  .Home {
    padding: 10px; /* Ajuste o espaçamento interno para telas ainda menores */
    margin-bottom: 15px; /* Ajuste a margem inferior */
  }
  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .row h1,
  .row h3,
  #botoesContainer {
    margin: 10px 0;
  }


  #btnPrincipal, .botaoSecundario {
    padding: 6px 10px; /* Reduza o espaçamento interno ainda mais */
    font-size: 0.7rem; /* Ajuste o tamanho da fonte */
  }
  .small-image {
    
    height: auto;
    border: 2px solid #9cdad6;
    display: none;
    /* Outros estilos desejados para telas menores */
    /*----------HOME------------*/
  }
  .about-img {
    display: none; /* Oculta a foto */
  }

  .about .col-md-6,
  .about-info,
  .about-me {
    margin-bottom: 15px;
  }
}
.projects{
  height: fit-content;
}
/*----------about------------*/
@media only screen and (max-width: 400px) {

}

/*-----------MEDIA QUERIES-------------*/

/*---top---*/
#top{
  position: fixed;
  bottom: 0;
  padding: auto;
  margin: 5rem;
}

#top.hide-top{
  display: none;
}

  

#top i{
  padding: 10px;
  border-radius: 8px;
  font-size: 28px;
  color: var(--text-color);
  background: var(--main-color);
}